<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
<body>
    <nav>
       <h2 class="back-home"><a href="/">Back to home</a></h2> 
    </nav>
   <h3 class="content">Content is added here</h3> 
</body>
<%- include('partials/footer'); -%>
</html>